.video-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.video-popup .video-popup-content {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.video-popup .close {
  position: absolute;
  top: 10px;
  right: 450px;
  font-size: 24px;
  cursor: pointer;
  color: #f4efef;
  z-index: 1;
}
/* Rows */
body {
  background-color: black; 
  color:white;
  overflow-x: hidden;
  
}

.row {
  margin-left: 20px;
}

.row_posters {
  display: flex;
  overflow-x: auto;
  padding-bottom: 20px;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
 
}

.row_posters::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.row_poster {
  width: 150px;
  max-height: 225px; 
  margin-right: 10px;
  transition: transform 450ms, opacity 450ms;
}

.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.large_row .row_poster {
  max-height: 330px; 
}

.large_row .row_poster:hover {
  transform: scale(1.09);
  opacity: 1;
}

