.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px; 
    background-color: #000; 
    z-index: 1000; 
  }
  
  .nav_logo {
    height: 40px; 
  }
  
  .nav_right {
    display: flex;
    align-items: center;
  }
  
  .search_icon,
  .bell_icon,
  .username {
    margin-right: 15px; /* Add spacing between icons and username */
  }
  
  .nav_avatar {
    height: 32px;
    border-radius: 20%; 
  }
  
  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
  